<app-header></app-header>

<router-outlet> </router-outlet>
<!--
<app-products> </app-products> -->

<!-- Display product list using View Child -->
<!-- <button type="button" (click)="AfterClickButton()" class="btn btn-primary"
  style="background-color:#964B00;width: 8%;padding: 10px;margin-left: 45%;margin-bottom: 30px;">Get Products</button>


<table *ngIf="isTrue" class="table table-hover table-bordered"
  style="width:70%; margin-left: auto;margin-right: auto; margin-bottom: 30px;">

  <thead>
    <tr>
      <th scope="col" style="color:#964B00">ID</th>
      <th scope="col" style="color:#964B00">Name</th>
      <th scope="col" style="color:#964B00">Quantity</th>
      <th scope="col" style="color:#964B00">Price</th>
      <th scope="col" style="color:#964B00">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of viewChildProductsList">
      <th scope="row">{{product.ID}}</th>
      <td>{{product.Name}}</td>
      <td>{{product.Quantity}}</td>
      <td>{{product.Price}}</td>
      <td><img [src]="product.Img" width="70rem"></td>
    </tr>

  </tbody>
</table> -->




<app-footer></app-footer>
