
<br>

<h1 style="color:#964B00">Posts</h1>
<div style="display:flex ;margin:auto;flex-wrap: wrap;">
  <div *ngFor="let post of ListPosts" style="padding:4px;margin:auto">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{post.ID}}</h5>
      <h5 class="card-title">{{post.Title}}</h5>
      <h5 class="card-title">{{post.Body}}</h5>
      <p class="card-text">Some quick example  and make up the bulk of the card's content.</p>
      <a (click)="OnSeleted(post)" style="background-color:#964B00" class="btn btn-primary">View Post Comments</a>
    </div>
  </div>
  </div>
